body {
  background: #FFFF;
}

.game{
  width: 900px;
  height: 500px;
}

.background{
  width: inherit;
  height: inherit;
  position: absolute;
}

.background_0{
  width: inherit;
  height: inherit;
  background: url('../imagenes/fondo/BG_0.png');
  background-size: 100% auto;
  position: absolute;
  z-index: 1;
}

.background_1{
  width: inherit;
  height: inherit;
  background: url('../imagenes/fondo/BG_1.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 2;
}

.background_2{
  width: inherit;
  height: inherit;
  background: url('../imagenes/fondo/BG_2.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 3;
}

.background_3{
  width: inherit;
  height: inherit;
  background: url('../imagenes/fondo/BG_3.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 4;
}

.animacion_bg1{
  animation: animacionBG1 32s infinite;
  animation-timing-function: linear;
}

.animacion_bg2{
  animation: animacionBG2 8s infinite;
  animation-timing-function: linear;
}

.animacion_bg3{
  animation: animacionBG3 2s infinite;
  animation-timing-function: linear;
}

@keyframes animacionBG2 {
  100%{background-position: -900px bottom;}
}

@keyframes animacionBG3 {
  100%{background-position: -900px bottom;}
}


@keyframes animacionBG1 {
  100%{background-position: -900px bottom;}
}

.personaje{
  width: 87px;
  height: 80px;
  top: 374px;
  left: 19px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}

.quieto{
  background: url('../imagenes/personaje/deep.png')0px 0px;
  animation: quieto .6s steps(3) infinite;
  /*background-position: 0px 0px;*/
}

.correr{
  width: 80px;
  height: 67px;
  top: 390px;
  background: url('../imagenes/personaje/deep.png')0px -174px;
  animation: correr .5s steps(4) infinite;
  /*background-position: 0px -174px;*/
}

.saltar{
  width: 84px;
  background: url('../imagenes/personaje/deep.png')-160px -483px;
  animation: saltar .6s forwards;
  animation-timing-function: linear;
}

.ataque{
  width: 78px;
  height: 64px;
  top: 388px;
  background: url('../imagenes/personaje/deep_ataque.png')0px -174px;
  animation: ataque .3s steps(5) forwards;
}

.rodar{
  height: 48px;
  top: 412px;
  background: url('../imagenes/personaje/deep1.png')-560px -435px;
  animation: rodar .4s steps(3) forwards;
}

@keyframes quieto {
  100%{background-position: -240px 0px;}
}

@keyframes correr {
  100%{background-position: -320px -174px;}
}

@keyframes saltar {
  0%{background-position: -160px -483px; top: 380px}
  50%{top: 200px}
  100%{top: 380px}
}

@keyframes ataque {
  100%{background-position: -400px -174px;}
}

@keyframes rodar {
  100%{background-position: -800px -435px;}
}
