body {
  background: url('../imagenes/BG.png');
  background-size: 100% auto;
}

.pad{
  padding: 0px;
}

.game{
  width: 100%;
  height: 296%;
  margin-top: 10px;
  image-rendering: optimizespeed;
}

.vidas{
  height: 35px;
  top: 140px;
  left: 20px;
  position: absolute;
  z-index: 8;
}

.controles{
  height: 50px;
  top: 136px;
  right: 12px;
  position: absolute;
  z-index: 8;
}

.score{
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-style: oblique;
  position: absolute;
  z-index: 6;
}

.cosas{
  overflow: hidden;
  width: inherit;
  height: inherit;
  position: absolute;
}

.start{
  position: relative;
  margin-top: 20%;
  width: 120px;
  z-index: 8;
}

.game_over{
  z-index: 8;
  width: 200px;
  height: 200px;
  position: relative;
  text-align: center;
  margin-top: 13%;
}

.none{
  display: none;
}

h2{
  font-size: 24px;
  font-style: oblique;
  color: red;
}

#score{
  color: white;
  font-size: 18px;
  font-style: oblique;
}

/*FONDO*/

.background_0{
  width: inherit;
  height: inherit;
  background: url('../imagenes/BG_0.png');
  background-size: 100% auto;
  position: absolute;
  z-index: 1;
}

.background_1{
  width: inherit;
  height: inherit;
  background: url('../imagenes/BG_1.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 2;
}

.background_2{
  width: inherit;
  height: inherit;
  background: url('../imagenes/BG_2.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 3;
}

.background_3{
  width: inherit;
  height: inherit;
  background: url('../imagenes/BG_3.png') bottom;
  background-size: contain;
  position: absolute;
  background-repeat: repeat-x;
  z-index: 4;
}

.animacion_bg1{
  animation: animacionBG1 32s infinite;
  animation-timing-function: linear;
}

.animacion_bg2{
  animation: animacionBG2 8s infinite;
  animation-timing-function: linear;
}

.animacion_bg3{
  animation: animacionBG3 2s infinite;
  animation-timing-function: linear;
}

@keyframes animacionBG2 {
  100%{background-position: -1012px bottom;}
}

@keyframes animacionBG3 {
  100%{background-position: -1012px bottom;}
}


@keyframes animacionBG1 {
  100%{background-position: -1012px bottom;}
}


/*PERSONAJES*/

.personaje{
  width: 87px;
  height: 80px;
  top: 388px;
  left: 30px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
}

.quieto{
  background: url('../imagenes/deep.png')0px 0px;
  animation: quieto .6s steps(3) infinite;
}

.correr{
  width: 80px;
  height: 67px;
  top: 402px;
  background: url('../imagenes/deep.png')0px -174px;
  animation: correr .5s steps(4) infinite;
}

.saltar{
  width: 84px;
  background: url('../imagenes/deep.png')-160px -483px;
  animation: saltar .7s forwards;
  animation-timing-function: linear;
}

.ataque{
  width: 78px;
  height: 64px;
  top: 402px;
  background: url('../imagenes/deep_ataque.png')0px -174px;
  animation: ataque .3s steps(5) forwards;
}

.rodar{
  height: 48px;
  top: 424px;
  background: url('../imagenes/deep.png')-560px -435px;
  animation: rodar .4s steps(3) forwards;
}

.vidamenos{
  width: 78px;
  background: url('../imagenes/deep.png')0px -320px;
  animation: vidamenos .4s steps(4) forwards;
}

.muerto{
  width: 78px;
  height: 76px;
  background: url('../imagenes/deep.png')0px -320px;
  animation: muerto .4s steps(4) forwards;
}

.obstaculo{
  right: -100px;
  width: 87px;
  height: 80px;
  top: 256px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 6;
  animation: mover 2s;
  animation-timing-function: linear;
}

.enemigo{
  height: 80px;
  position: relative;
  background: url('../imagenes/jack.png') right 720px;
  animation: enemigo 0.4s steps(4) infinite;
}

.enemigomuerto{
  height: 80px;
  position: relative;
  background: url('../imagenes/bat.png') right 320px;
  animation: enemigomuerto 0.3s steps(4) forwards;
}

.puntos{
  color: white;
  top: 235px;
  left: 50px;
  position: relative;
  z-index: 6;
  animation: puntos 1s;
  animation-timing-function: linear;
}

@keyframes quieto {
  100%{background-position: -240px 0px;}
}

@keyframes correr {
  100%{background-position: -320px -174px;}
}

@keyframes saltar {
  0%{background-position: -160px -483px; top: 402px}
  50%{top: 262px}
  100%{top: 402px}
}

@keyframes ataque {
  100%{background-position: -400px -174px;}
}

@keyframes rodar {
  100%{background-position: -800px -435px;}
}

@keyframes vidamenos {
  100%{background-position: -320px -320px;}
}

@keyframes muerto {
  100%{background-position: -320px -320px; top: 390px;}
}

@keyframes mover {
  100%{right: 1000px;}
}

@keyframes enemigo {
  0%{background-position: -720px -160px}
  100%{background-position: -400px -160px;}
}

@keyframes enemigomuerto {
  0%{background-position: -320px -87px}
  100%{background-position: 0px -87px;}
}

@keyframes puntos {
  100%{top: 215px;}
}
