/*Generales*/
body{
  background-color: #e6ecf0;
  height: 90%;
}

.navbar {
  background-color: #FFF;
  margin-bottom: 0px;
  border: 0px;
}

.logo{
  height: 40px;
  margin-top: 10%;
}

.navbar-brand{
  padding: 0px;
}

.hceleste:hover{
  color: #3A9CF2;
}

.centrar{
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.buscar{
  border-radius: 20px;
}

.panel-body{
  background-color: #3A9CF2;
  padding: 10px;
}

.panel{
  border: 0px;
}

h1{
  color: #FFF;
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 32px;
  margin: 0px;
}

.barra{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 25;
}

.dropdown-menu{
  text-align: center;
}

.contenedor{
  margin-top: 112px;
  height: 100%;
}

.nocturno{
  display: block;
}

.desactivar{
  display: none;
}

.presentacion{
  display: block;
  height: 111%;
  background-image: url(../images/clara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.pajaro{
  width: 8%;
  margin-top: auto;
  margin-bottom: auto;
}

.formulario{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#buscarp{
  margin-top: 10px;
  height: 40px;
}

#nocturnop{
  margin: 0px;
  margin-top: 10px;
  position: absolute;
  right: 28%;
  font-size: 28px;
}

#dropdownMenu1:hover{
  color: #3A9CF2 !important;
}

#dropdownMenu1{
  padding-top: 65%;
}

.dentro{
  display: none;
  height: 100%;
}

/*Grilla*/

.imageng{
  max-width: 100%;
  height: 285px;
}

.dimageng{
  margin-bottom: 4px;
  margin-right: 3px;
  width: 33%;
  display: inline-block;
  position: relative;
  text-align:center;
}

.dimageng h3{
  position: absolute;
  width: 100%;
  top: 0px;
  text-align: center;
  z-index: -1;
  padding-top: 30%;
}

.desvanecer:hover {
  opacity: 0.3;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

.escaladag{
  transform: scale(2,2);
  transform: scale(3,3);
}

/*Vista 2*/

.lista{
  overflow: hidden;
  white-space: nowrap;
}

.fila{
  position: inherit;
  margin-left: auto;
  margin-right: auto;
}

.imagen-f{
  margin-right: 1px;
  margin-bottom: 0px;
  max-width: 100%;
  height: 100px;
  padding: 1px;
}

.imgCar{
  margin-bottom: 0px;
  max-width: 100%;
  height: 100%;
}

.imgGrande{
  margin-top: 10px;
  position: relative;
  perspective: 1100px;
  height: 100%;
  overflow: hidden;
}


.bordes{
  padding: 2px;
  background-color: inherit;
  margin-bottom: 0px;
  border-color: transparent;
}

.flecha{
  color: #777;
  text-align: center;
  display: block;
  font-size: 34px;
  position: inherit;
  line-height: 3;
}

.flecha:hover{
  color: #3A9CF2;
}

.likeCar{
  font-size: 26px;
  text-align: center;
  top: -37px;
  position: relative;
  background-color: white;
  margin: 0px;
  opacity: 0.6;
}

#carrousel{
  transform: translateZ(-1400px);
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
  margin: 20px auto;
  height: 100%;
}

.figureCar{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 90%;
}

.divCar{
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  height: 95%;
}

.anterior {
  transform: rotateY(-40deg) translateZ(1400px);
  transition: transform 2s;
}

.select {
  transform: rotateY(0deg) translateZ(1400px);
  transition: transform 2s;
}

.posterior {
  transform: rotateY(40deg ) translateZ(1400px);
  transition: transform 2s;
}

.latir{
  animation: latidos 0.5s infinite;
}

.girar3d{
  animation: gira3d 1.0s infinite;
}

.rotar{
  animation: rota 1.0s infinite;
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.4); }
    to { transform: none; }
}

@keyframes gira3d {
    from { transform: perspective(400px) rotateY(0deg) }
    to { transform: perspective(400px) rotateY(360deg) }
}

@keyframes rota {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}


html{
  height: 100%;
}

.rowTamC{
  height: 1%;
}

.rowTamG{
  height: 80%;
}

.imgSelect{
  border: solid #3A9CF2 1px;
}

.girarAtras {
  transform: rotate(0deg) translateZ(0px);
  transition: transform 1s;
}

.girarAdelante {
  transform: rotate(360deg) translateZ(1400px);
  transition: transform 1s;
}

.ocultar {
  display: none;
}

#lista {
  transition: transform .5s;
}
