body {
  background-color: grey;
  margin-top: 20px;
}

input {
  width: 90px;
}

canvas {
  margin-bottom: 8px;
}

img {
  margin-top: 10px;
  width: 100%;
  height: 95px;
}

h2 {
  text-align: center;
  font-style: italic;
}

#original {
  margin-top: 0;
  height: 180px;
}
