body {
  background-color: #eeeeee;
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 42px;
  border-bottom: 1px solid;
}

canvas {
  margin-bottom: 20px;
  margin-top: 20px;
}

 label {
  font-size: 16px;
  margin-top: 3px;
}

small {
  font-size: 11px;
  color: grey;
}

#start {
  margin-top: 5px;
}
